
@media screen and ( max-width: 425px) {
    .nav-container {
        flex-direction: column;
    }
    
    .nav-items-container,.banner-container,.play-game-container{
        flex-direction: column;
    }
    .nav-items-container a{
        margin-top: 15px;
        margin-bottom: 5px;
    }
 .logo-container .nav-items-container{
    width: 100%;
 }
 
 .follow-btn{
    width:400px;
   
 } 
 .nav-items-container .follow-btn{
    max-width:300px;
    display:block;
    justify-content: center;
    align-items: center;
 }
 .fa-brands{
    margin:10px;
 }
 .banner-text{
   padding: 20px 0px;
 }
 .banner-img img{
   width: 100%;
   margin-top: 100px;
 }
 .banner-container,.play-game-container{
   flex-direction: column-reverse;
   padding: 20px;
 }
 .fanny-card-section{
   flex-direction: column;
   padding: 20px;
 }

 .play-game-title{
   font-size: 2.6rem;
 }
 .play-game-img, .play-game-text{
   width: 100%;
 }
.play-game-big-img,.small-img{
   width: 70%;
}

.play-game-container{
   padding: 20px;
}
.play-game-text{
   padding: 50px 0px;
}

.div-1 img{
    width: 300px;
    height: 300px;
    position: relative;
}
.div-2 img{
   width: 200px;
   height: 150px;
   position: absolute;
   left: 180px;
   top: 200px;
}

.action{
   margin-bottom: 0;
}

.action-container{
   padding: 20px;
   display: grid;
   grid-template-columns:repeat(3, 1fr) ;
}
.action-details {
   width: 140px;
   gap:5px;
}
.action-details img{
   width: 20px;
}
.action{
   margin-top: 30px;
}

/* footer section  */

.footer-banner{
   display: inline-flex;
   gap: 20px;
}
.item,.socil-icon{
   display: grid;
   grid-template-columns:repeat(3, 1fr);
}
.item{
   gap: 5px;
}

.contact{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}
.last-footer-section{
   width: 70%;
   justify-content: center;
   align-items: center;
   margin-left: 50px;
}

}