/* all body styles */
body {
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

/* nav section style  start*/

nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    justify-content: center;
    margin: 0 auto;
    max-width: 1440px;
    min-height: 50px;
    display: flex;
    align-items: center;

}

.logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 50%;
}

.logo-container img {
    width: 70px;
    object-fit: cover;
    margin-right: 20px;
}

.logo-container p {
    text-align: center;
    font-size: 45px;
    font-weight: 700;

}

.game-g {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-items-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items-container a {
    text-decoration: none;
    color: #3C354F;
    /* text-align: center; */
    font-size: 1.2rem;
    font-weight: 500;
    align-items: center;
}

.follow-btn {
    padding: 12px 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    /* margin-right: 30px; */
}

.fa-brands {
    margin: 15px;
}

.btn-responsive {
   
}

/* banner  section start */

.banner {
    max-width: 1800px; 
     border: 1px solid red;
    justify-self: center;
    margin: 0 auto;
    min-height: 200px; 

}

.banner-container {
    display: flex;
}

.banner-text {
    width: 100%;
    border: 1px solid green;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%); 
    height: 700px;
    background-image: url("./images/Group\ 14.png");
    background-repeat: no-repeat;
}

.banner-img {
    width: 100%;
    border: 1px solid #FF42A5;
}

