/* all body styles */
body {
    font-family: 'Work Sans', sans-serif;
}

nav {
    border: 1px solid red;
    min-height: 100px;
}

.nav-logo {
    border: 2px solid blue;
    display: flex;
    justify-content: ;
    align-items: center;
    gap: 20px;
}

.nav-logo img {
    border: 3px solid royalblue;
    width: 70px;
}

.nav-logo p {
    border: 2px solid seagreen;
    font-size: 2.8rem;
    font-weight: 700
}

/* .nav-item{
    border: 5px solid green;
} */