/* all body styles */
body {
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

    /* nav section style  start*/

.nav-section {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {

    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1440px;
    min-height: 10px;
    display: flex;
    align-items: center;

}

.nav-logo {
    display: flex;
    justify-content: ;
    align-items: center;
    gap: 20px;
    width: 50%;
}

.nav-logo img {
    width: 70px;
}

.nav-logo p {
    font-size: 2.8rem;
    font-weight: 700;
}

.game-g {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-item {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;

}

.follow-btn {
    padding: 12px 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    margin-right: 30px;
}

.fa-brands {
    margin: 15px;
}

